.about {
    background-color: transparent;
    font-size: 1.1rem;
}
.profile {
    max-width: 16rem;
}
.my-description {
    background-color: rgba(199, 185, 185, 0.75);
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.font-details {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary-hover-blue-dark);
    text-transform: uppercase;
}
.container-box {
    width: 80%;
    background-color: transparent;
    position: relative;
    z-index: 9;
  }
  
  
.parallex {
      background: url("../../assets/img/parallex/background.jpg") no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      margin-top: 0.625rem;
    }