/* -------NAVBAR----------*/
.logo {
    width: 12.25rem;
}

/* -------Menu Link----------*/

nav a.nav-link {
    /* font-weight: 500; */
    letter-spacing: 0.275rem;
    cursor: pointer;
    font-size: 0.8rem;
}
nav ul li {
    text-transform: uppercase;
}
.navbar-nav > li > a {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color:rgb(184, 184, 184) !important; /* var(--primary-white) is declared in App.css root*/
    border-top: 0.187rem solid rgb(41, 40, 40);
}
.navbar-brand {
    max-width: 17.25rem;
    padding: 2px !important;
    height: 5rem !important;
}
.navbar-nav > li > a:active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
    color: var(--primary-white) !important; /* var(--primary-white) is declared in App.css root*/
}
.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
    color: var(--primary-white) !important; /* var(--primary-white) is declared in App.css root*/
}