/* -------import Font from google font and Import here ----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-green: #21bd06;
  --primary-hover-green: #1e5215;

  
}

body {
  font-family: "Roboto Condesed", sans-serif !important;
}